@import "../../variables";
.project5 {
  width: 100vw;
  height: 100vh;
  background-color: #f1f5f8;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bars {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: $primary-color;
    &-icon {
      &:hover {
        color: #a5d5f9;
      }
    }
  }
  &__navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    transform: translateX(-100%);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
  }
  &__list {
    padding: 1rem 0;
    font-size: 1.5rem;
    ul {
      list-style: none;
    }
    li {
      padding: 1rem;
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        background-color: #a5d5f9;
        transform: scale(0.98);
      }
    }
  }
  &__social {
    margin-top: auto;
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    a {
      padding: 1rem;
      &:hover {
        color: black;
      }
    }
  }
}
.project5__navbar.active {
  transform: translateX(0px);
  transition: all 1s ease;
}
