.project20 {
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  max-width: 1200px;
  margin: 0 auto;
  p {
    margin: 0;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: #64748b;
  }
  h2 {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  h3 {
    cursor: pointer;
    letter-spacing: 1.5px;
    padding: 2px 8px;
    font-weight: 300;
  }
  h5 {
    font-weight: bold;
    font-size: 1rem;
  }
  input {
    border-radius: 4px;
    background-color: #e1e8f0;
    padding: 6px;
    border: none;
    margin-bottom: 1rem;
  }
  &__item {
    text-align: center;
    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &__item-z {
    text-align: center;
    position: relative;
    &:hover {
      .features-btn1,
      .features-btn2 {
        display: block;
      }
    }
    .features-btn1 {
      position: absolute;
      display: none;
      top: 30%;
      left: 35%;
      border: none;
      color: white;
      padding: 4px 8px;
      background-color: #ba5e2d;
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
    }
    .features-btn2 {
      position: absolute;
      cursor: pointer;
      display: none;
      padding: 4px 8px;
      border: none;
      background-color: #ba5e2d;
      color: white;
      top: 30%;
      left: 50%;
      border-radius: 50%;
      text-align: center;
    }
    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    h1 {
      position: relative;
      &::after {
        content: "";
        background-color: #645cff;
        position: absolute;
        width: 50%;
        height: 3px;
        top: 100%;
        left: 0;
        transform: translateX(50%);
      }
    }
  }
}
