.project26 {
  height: 100vh;
  width: 100%;
  position: relative;

  button {
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 1rem;
  }
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("https://vannilla-js-basic-project-26-stripe-submenus.netlify.app/images/hero.svg")
      no-repeat;
    background-size: contain;
    top: 0;
  }
  &__navbar {
    max-width: 1200px;
    width: 100%;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    align-items: center;
    padding: 0 1rem;
    &-right {
    }
  }
  &__link {
    transition: all 1s ease;

    ul {
      display: flex;
      gap: 0 4rem;
      list-style: none;
      margin: 0;
      height: 100%;
    }
    li {
      font-size: 1.2rem;
      color: white;
      letter-spacing: 1px;
      cursor: pointer;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 3rem);
    text-align: center;
  }

  .fa-bars {
    display: none;
  }
  &__hero {
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &-desc {
      flex: 2;
      margin: 3rem 0;
      padding: 0 2rem;
      h1 {
        font-size: 5.5rem;
        color: #102a41;
        font-weight: bold;
        line-height: 1;
      }
      p {
        font-size: 1.2rem;
        margin: 2rem 0;
        letter-spacing: 1px;
      }
    }
    &-img {
      flex: 1;
      text-align: center;
    }
  }
  li {
    position: relative;
    &:hover {
      .project26__submenu {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
          padding: 1rem 1rem 0 2rem;
          font-size: 1rem;
        }
        &-item {
          width: 100%;
          justify-content: space-between;
          display: flex;
          padding: 0 2rem;
          margin-top: 1rem;
          font-size: 1rem;
          a {
            display: flex;
            align-items: center;
          }
          i {
            margin-right: 1rem;
            color: gray;
          }
        }
      }
    }
    &__mobile {
      display: none;
    }
  }
  &__submenu {
    position: absolute;
    background-color: white;
    min-width: 600px;
    height: 120px;
    border-radius: 10px;
    transform: translateX(-45%);
    left: 0;
    display: none;
  }
  @media (max-width: 800px) {
    .project26 {
      &__navbar-right {
        display: none;
      }
      &__navbar-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        i {
          font-size: 2rem;
        }
      }
      &__link {
        display: none !important;
      }
      &__hero-img {
        display: none;
      }
    }
  }
  .modal-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    visibility: hidden;
    transform: scale(0);
  }
  .modal-wrapper.show {
    visibility: visible;
    transform: scale(1);
  }
  &__modal {
    transform: translate(-50%, -50%);
    z-index: 3;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90vw;
    height: 90vh;
    background: white;
    border-radius: 10px;
    .fa-times {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1.5rem;
      font-size: 2rem;
    }
    &-list {
      padding: 2rem;
    }
    .project26__modal-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 0.25rem;
      a {
        display: flex;
        align-items: center;
        width: 50%;
      }
      h3 {
        padding: 1rem 1rem 0 2rem;
        font-size: 1rem;
      }
      i {
        margin-right: 1rem;
        color: gray;
      }
    }
  }
}
